---
---
<!DOCTYPE html>
<html lang="bg">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Български Университети</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/favicon.png" alt="" class="img-fluid"></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero" style="font-family:Verdana, Geneva, Tahoma, sans-serif">Начало</a></li>
          <li><a class="nav-link scrollto" style="font-family:Verdana, Geneva, Tahoma, sans-serif" href="#about">Относно</a></li>
          <li><a class="nav-link scrollto" style="font-family:Verdana, Geneva, Tahoma, sans-serif" href="inner-page.html">Университети</a></li>
          <!--<li><a class="nav-link scrollto " href="#more">more</a></li>
          <li><a class="nav-link scrollto" href="#smth">smth ... </a></li>-->
          <li><a class="nav-link scrollto" style="font-family:Verdana, Geneva, Tahoma, sans-serif" href="#gallery">Галерия</a></li>
          <li class="dropdown" style="font-family:Verdana, Geneva, Tahoma, sans-serif"><a href="index.html#"><span>Градове</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="Cities/sofia.html" >София</a></li>
              <li><a href="Cities/plovdiv.html">Пловид</a></li>
              <li><a href="Cities/varna.html">Варна</a></li>
              <li class="dropdown"><a href="#"><span>Други...</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="Cities/blagoevgrad.html">Благоевград</a></li>
                  <li><a href="Cities/burgas.html">Бургас</a></li>
                  <li><a href="Cities/veliko_tarnovo.html">Велико Търново</a></li>
                  <li><a href="Cities/gabrovo.html">Габрово</a></li>
                  <li><a href="Cities/pernik.html">Перник</a></li>
                  <li><a href="Cities/pleven.html">Плевен</a></li>
                  <li><a href="Cities/ruse.html">Русе</a></li>
                  <li><a href="Cities/svishtov.html">Свищов</a></li>
                  <li><a href="Cities/starazagora.html">Стара Загора</a></li>
                  <li><a href="Cities/shumen.html">Шумен</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#footer" style="font-family:Verdana, Geneva, Tahoma, sans-serif">Контакти</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      <a href="calculator.html" class="get-started-btn scrollto" style="font-family:Verdana, Geneva, Tahoma, sans-serif">Калкулатор на бал</a>

    </div>
  </header>
  <main id="main">

  <!-- Home Section -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Университети в Български</h1>
          <h2>Намери необходимата информация, по-лесно.</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="bi-github" role="img" aria-label="GitHub"></i>
            <h3><a href="https://github.com/StanK1">GitHub</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="calculator.html">Пресмятане на бал</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">Календар</a></h3> <!--moje da se promeni-->
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="bi bi-menu-up"></i>
            <h3><a href="#majors">Специалности</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="bi bi-three-dots"></i>
            <h3><a href="">Още</a></h3>
          </div>
        </div>
      </div>
      

      
  </section>
 <!-- About Section -->
 <section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="assets/img/more/people-2564430_1920.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
        <h3>ЗАЩО ОБРАЗОВАНИЕ В БЪЛГАРИЯ?</h3>
        <p class="fst-italic">
          
Българските университети предлагат широка гама от възможности за обучение на студенти от цял ​​свят.
 Повечето университети предлагат курсове в области като медицина, инженерство, бизнес и хуманитарни науки. 
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Освен това много университети имат международни програми за обмен и опции за двойна степен.</li>
          <li><i class="ri-check-double-line"></i> Българските университети са известни със своето висококачествено образование, модерни съоръжения и опитни преподаватели.</li>
          <li><i class="ri-check-double-line"></i> Те също така осигуряват уникално културно изживяване за студентите и им дават възможност да създадат приятели за цял живот.</li>
        </ul>
        <p>
          Повечето университети разполагат с модерни съоръжения и опитни преподаватели, което ги прави чудесен избор за международни студенти. Освен това българските университети са известни със своите конкурентни такси за обучение, което ги прави достъпна опция за студенти от цял ​​свят.
        </p>
      </div>
    </div>

  </div>
<section id="universities" class="universities">
  <div class="container" data-aos="zoom-in">

    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><a href="https://mu-sofia.bg"><img src="assets/img/logos/mu-logo.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="http://www.uni-sofia.bg"><img src="assets/img/logos/SU-logo.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="http://www.uni-plovdiv.bg"><img src="assets/img/logos/uni_plovdiv-scaled.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://www.vfu.bg"><img src="assets/img/logos/VSU_logo_stars.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://uacg.bg"><img src="assets/img/logos/logo_1UASG.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://www.uni-vt.bg/bul/"><img src="assets/img/logos/logo_Veliko_trn.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://www.tugab.bg"><img src="assets/img/logos/tugab-logo.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://mu-plovdiv.bg"><img src="assets/img/logos/mu-plovdiv-logo.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="inner-page.html"><img src="assets/img/logos/three-dots.svg" class="img-fluid" alt="more"></a></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="image col-lg-6" style='background-image: url("assets/img/more/college-student-ge5b72127e_1920.jpg");' data-aos="fade-right"></div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-receipt"></i>
            <h4>Достъпни разходи за обучение и живот</h4>
            <p>България има едни от най-ниските такси за обучение и разходи за живот в Европейския съюз,
               което я прави привлекателна дестинация за студенти, които искат да получат висококачествено образование на достъпна цена.</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-cube-alt"></i>
            <h4>Силна образователна система</h4>
            <p>България има силна образователна система и е дом на няколко международно класирани университета.
               Студентите, завършили български университет, могат да бъдат спокойни, че са получили солидно образование.</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bi bi-calendar2-check"></i>
            <h4>Силен акцент върху практическите умения</h4>
            <p>Българските университети поставят силен акцент върху практическите умения и ученето чрез преживяване, което може да бъде 
              особено ценно за студенти, които се интересуват от преследване на кариера в практическа област.
               Много програми в България включват стажове или други възможности за студентите да придобият опит в реалния свят.</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bi bi-graph-up-arrow"></i>
            <h4>Възможности за кариера и развитие</h4>
            <p>Завършването на университетска диплома в България може да разкрие редица възможности за кариера както в България, така и в чужбина. Много международни компании имат присъствие в България, а българската диплома се уважава и признава в международен план.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
</section>
</section>

<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

    <div class="text-center">
      <h3>Плюсове на Висшето образование</h3>
      <p> Висшето образование в България представлява затворен
         свят на възможности за растеж и развитие. От улучшение на културния хоризонт
          до повишаване на кариерните възможности, висшето образование отваря врати към нови 
          светове на знание и възможности. Особено интересен е обменът на знания
         и идеи с други студенти и преподаватели, който позволява на учениците да се възползват от разнообразието на перспективини мнения.</p>
      <a class="cta-btn" href="blog.html">Натиски тук</a>
    </div>

  </div>
</section><!-- End Cta Section -->

  </div>
    <!--gallery-->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Галерия</h2>
          <p>Виште нашата галерия</p>
        </div>

        

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            
          </div>
        </div>

        <div class="row gallery-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">


          {% include image.html 
           imagename="assets/img/bg_universities/sofia/bg-sofia-University.jpg"
           headname="Софийски Университет"
           linkname="Cities/sofia.html"
          %}

          {% include image.html 
           imagename="assets/img/bg_universities/varna/9ynb_infe-uev.jpg"
           headname="Варненски Икономически"
           linkname="Cities/Varna.html"

          %}

          {% include image.html 
           imagename="assets/img/bg_universities/plovdiv/plovdiv-medical-university-bulgaria.jpg"
           headname="Медицински Университет, Пловдив"
           linkname="Cities/plovdiv.html"
          %}

          {% include image.html 
           imagename="assets/img/bg_universities/velikotarnovo/picture-2-veliko-tarnovo.jpg"
           headname="Велико Търнововски"
           linkname="Cities/veliko_tarnovo.html"
          %}

          {% include image.html
           imagename="assets/img/bg_universities/sofia/1333620-copy.jpg"
           headname="Нов Български Университет"
           linkname="Cities/sofia.html"
          %}

          {% include image.html 
           imagename="assets/img/bg_universities/velikotarnovo/picture-6.jpg"
           headname="Технически Университет Габрово"
           linkname="Cities/gabrovo.html"
          %}

          {% include image.html 
           imagename="assets/img/bg_universities/velikotarnovo/burgas-free-university-1024x683.jpg"
           headname="Бургаски Свободен Университет"
           linkname="Cities/burgas.html"
          %}

          {% include image.html 
            imagename="assets/img/bg_universities/sofia/TU_-_Faculty_of_electrotechnics.jpg"
            headname="Технически Университет София"
            linkname="Cities/sofia.html"
          %}

          {% include image.html 
            imagename="assets/img/bg_universities/plovdiv/trU.jpg"
            headname="Тракийски университет"
            linkname="Cities/plovdiv.html"
          %}


        </div>

      </div>
    </section>

<section>
  
</section>




</main>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Bulgarian<span>Uni</span></h3>
            <p>
              <strong>Phone:</strong> +359877084891<br>
              <strong>Email:</strong> stanislavkrstev8@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://github.com/StanK1" class="github"><i class="bi-github"></i></a>
              <a href="https://www.instagram.com/skrivvio/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.linkedin.com/in/stanislav-krastev-52615524a/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Полезни линкове</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Начало</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about">Относно</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="inner-page.html">Университети</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#gallery">Галерия</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="calculator.html">Калкулатор</a></li>
          </ul>
        </div>
        

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Най-желани градове</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="Cities/sofia.html">София</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="Cities/plovdiv.html">Пловид</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="Cities/varna.html">Варна</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="Cities/burgas.html">Бургас</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="Cities/starazagora.html">Стара Загора</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Най-желани Университети</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.uni-sofia.bg">Софийски университет "Св. Климент Охридски"</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="https://mu-sofia.bg">Медицински университет София</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="https://www.tu-sofia.bg">Технически университет София</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="https://uni-plovdiv.bg">Пловдивски университет "Паисий Хилендарски"</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="https://www.nbu.bg">Нов български университет</a></li>
          </ul>
        </div>
      </div>

      
    </div>
  </div>
  <div class="text-center">
    <p><small>
    </br>Моля, имайте предвид, че този списък се основава на броя на записаните и
       не отразява непременно качеството на университетите. Винаги</br>
       е добра идея да проучвате и сравнявате различни университети, за да намерите този, който най-добре отговаря на вашите нужди и цели.</small></p>
  </div>
</footer>



  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>