
    
        <a class="postcard__img_link" href="{{include.linkUni}}">
            <img class="postcard__img" src="{{include.imageUni}}" alt="Image Title" />
        </a>
        <div class="postcard__text">
            <h1 class="postcard__title blue"><a href="{{include.linkUni}}">{{include.UniName}}</a></h1>
            <div class="postcard__subtitle small">
                
            </div>
            <div class="postcard__bar"></div>
            <div class="postcard__preview-txt">{{include.description}}</div>
            <ul class="postcard__tagbox">
                <li class="tag__item"><i class="fas fa-tag mr-2"></i>{{include.paymentUni}}</li>
                <li class="tag__item"><i class="fas fa-clock mr-2"></i>{{include.typeOfUni}}</li>
                <li class="tag__item play blue">
                    <a href="{{include.linkUni}}"><i class="fas fa-play mr-2"></i>Към страницата</a>
                </li>
            </ul>
        </div>
    </div>
    