<section id="blog-start-up" class="about">
    <div class="container" data-aos="fade-up">
  
      <div class="row">
        <div class="col-lg-18 order-2 order-lg-1" data-aos="fade-left" data-aos-delay="100">
          <h1 class="text-center">{{include.headname}}</h1>
          <img id="blog-pic" class="col-12" src="{{include.imagename1}}" class="img-fluid" alt="">
        </div>
        <div class="center col-lg-12 pt-4 pt-lg-5 order-1 order-lg-3 content text-center" data-aos="fade-right" data-aos-delay="100">

          <p class="fst-italic">
            {{include.textname}} 
          </p>
          <p class="fst-italic">
          "Поне две са положителните тенденции във висшето образование за 2022 г. – по-добра реализация на завършилите и ръст в броя на научните публикации, включително на международно разпознаваемите", заяви министърът на образованието и науката проф. Сашо Пенов при представянето на новото издание на Националната рейтингова система на 52 висши училища в България за 2022 г. <br>
          <br>

По думите на министъра независимо от негативните икономически ефекти, свързани с COVID пандемията и войната в Украйна, делът на регистрираните безработни сред българските граждани, завършили през последните 5 години висше образование у нас, спада до рекордно ниско равнище от 2% при нива от 3,5% за 2021 г. Това е най-ниското ниво на безработица сред завършилите, откакто съществуват данни за този индикатор в Рейтинговата система, публикувана за първи път през 2011 г. Проф. Пенов отбеляза, че рейтинговата система е важна и за факултетите, за да могат да изготвят своите планове за акредитация. Той посочи, че намалява броят на тези, които избират да учат в чужбина, а нараства делът на чуждестранните студенти в България. <br>
<br>

Почти всички студенти, завършили медицински специалности, се реализират на пазара на труда. Безработицата сред дипломиралите се по професионални направления "Медицина", "Фармация" и "Стоматология" е около и под 1%. Толкова са и безработните и сред завършилите "Военно дело" и "Математика". Най-много са хората без работа в направление "Социални дейности" – 3,7%. <br>
<br>
          
            Повечето университети разполагат с модерни съоръжения и опитни преподаватели, което ги прави чудесен избор за международни студенти. Освен това българските университети са известни със своите конкурентни такси за обучение, което ги прави достъпна опция за студенти от цял ​​свят.</p>
          <img id="blog-pic" class="col-12" src="../assets/img/more/Grad.jpg" class="img-fluid" alt=""> 
          <p></p><br> 
        </div>
      </div>
    </div>