<div class="col-lg-4 col-md-6 gallery-item filter-app">
    <div class="gallery-wrap">
      <img src="{{ include.imagename }}" class="img-fluid" alt="">
      <div class="gallery-info">
        <h4>Варненски икономически</h4>
        <p>App</p>
        <div class="gallery-links">
          <a href="{{ include.imagename }}" data-gallery="gallerygallery" class="gallery-lightbox" title="{{include.headname}}"><i class="bx bx-plus"></i></a>
          <a href="Cities/Varna.html" title="More Details"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>