---
layout: gradove
title: Благоевград
---

<section class="dark">
	<div class="container py-4">
        <h1 class="h1 text-center" id="pageHeaderTitle">Благоевград</h1>
        <article class="postcard dark blue">
{% include Cards.html 
    imageUni="https://trud.bg/public/images/articles/2020-03/AU2_7709959263970865060_original.jpg" 
    linkUni="https://www.aubg.edu/home-bg/"
    UniName="Американски университет в България"
    description="АУБ предлага висококачествено образование от американски тип, изцяло на английски език, а студентите получават както европейска, така и американска диплома. Университетът е дом на около 1000 студенти от 35+ страни и 70+ преподаватели от 20 държави. Възпитаниците на АУБ развиват успешни кариери във водещи компании и световнопризнати университети. АУБ е неоспорим лидер в областта на образованието според Рейтингова система на висшите училища в България, а 99,8% от възпитаниците започват работа или продължават обучението си след дипломирането."
    paymentUni= "Частен"
    typeOfUni = "Двойна диплома"
   %}
</article>

<div class="container py-4">
    <article class="postcard dark red">
{% include Cards.html 
    imageUni="https://www.obrazovanieto.bg/files/images/2015/01/s1.jpg" 
    linkUni="https://cotur.bg"
    UniName="Kолеж по туризъм"
    description="Колежът по туризъм е компетентна и отговорна образователна институция, която дава специализирана образователна подготовка по професионалните направления 3.9. „Туризъм” и 3.7. „Администрация и управление”. Те осигуряват компетенции и конкурентноспособност на „глобалния специалист” за локалния, националния и международния пазар на труда."
    paymentUni= "Държавен"
    typeOfUni = "Диплома"
   %}
</article>
   <!--
   <div class="container py-4">
    <div class="h1 text-center" id="pageHeaderTitle"></div>
    <article class="postcard dark green">
    {% include Cards.html 
        imageUni="https://trud.bg/public/images/articles/2020-03/AU2_7709959263970865060_original.jpg" 
        linkUni="https://www.aubg.edu/home-bg/"
        UniName="Американски университет в България"
        description="АУБ предлага висококачествено образование от американски тип, изцяло на английски език, а студентите получават както европейска, така и американска диплома. Университетът е дом на около 1000 студенти от 35+ страни и 70+ преподаватели от 20 държави. Възпитаниците на АУБ развиват успешни кариери във водещи компании и световнопризнати университети. АУБ е неоспорим лидер в областта на образованието според Рейтингова система на висшите училища в България, а 99,8% от възпитаниците започват работа или продължават обучението си след дипломирането."
        paymentUni= "Частен"
        typeOfUni = "Двойна диплома"
       %}
    </article>
    -->