---
layout: gradove
title: Бургас
---


<section class="dark">
	<div class="container py-4">
        <h1 class="h1 text-center" id="pageHeaderTitle">Бургас</h1>
        <article class="postcard dark red">
{% include Cards.html 
    imageUni="https://www.bfu.bg/uploads/posts/sgradata-1.jpg" 
    linkUni="https://www.bfu.bg/bg"
    UniName="Бургаски свободен университет"
    description="Бургаският свободен университет (БСУ) в гр. Бургас е създаден с решение на Великото народно събрание от 18.09.1991 г. и е един от първите частни университети в страната.Мисията на БСУ е да бъде гъвкава, предприемчива и социално отговорна институция, която подготвя специалисти с висша квалификация и качества за бърза професионална реализация и развитие в динамична и глобализираща се среда."
    paymentUni= "Частен"
    typeOfUni = "Диплома"
   %}
</article>

<div class="container py-4">
    <article class="postcard dark blue">
{% include Cards.html 
    imageUni="https://upload.wikimedia.org/wikipedia/commons/8/89/Burgas-University-Asen-Zlatarov-Organic-Corpus-1.jpg" 
    linkUni="https://www.btu.bg"
    UniName="Университет „Професор доктор Асен Златаров“"
    description="Мисията на Университет „Проф. д-р Асен Златаров“ е да осъществява образователна и  научна подготовка на висококвалифицирани, морално устойчиви и конкурентоспособни специалисти с висше образование в области на педагогическите, хуманитарните, стопанските, природните, техническите и здравните науки, утвърждаващи го като водеща академична, научноизследователска и културна общност в регионален, национален, европейски и световен мащаби. "
    paymentUni= "Държавен"
    typeOfUni = "Диплома"
   %}
</article>