---
layout: gradove
title: Варна
---


<section class="dark">
	<div class="container py-4">
        <h1 class="h1 text-center" id="pageHeaderTitle">Варна</h1>
        <article class="postcard dark blue">
{% include Cards.html 
    imageUni="https://upload.wikimedia.org/wikipedia/commons/d/dc/VFU1.JPG" 
    linkUni="https://www.ue-varna.bg"
    UniName="Варненски свободен университет „Черноризец Храбър“"
    description="В своята 100-годишна история Икономически университет – Варна е подготвил над 155 хиляди икономисти, сред които много чужди граждани на повече от 60 страни, реализирали се успешно у нас и в чужбина. Той е един от основните стълбове на икономическото образование и наука в страната, който се развива като предприемаческа и социално отговорна институция. Днес в него се обучават над 7 500 български и чуждестранни студенти. Подготвят ги над 230 редовни преподаватели, над 100 от които са хабилитирани. Те са креативни и с постоянно научно израстване – над 40% от тях имат собствен бизнес или консултират такъв с експертния и научния си потенциал."
    paymentUni= "Частен"
    typeOfUni = "Диплома"
   %}
</article>

<div class="container py-4">
    <article class="postcard dark red">
{% include Cards.html 
    imageUni="https://e-learn.ue-varna.bg/pluginfile.php/1/theme_moove/sliderimage1/1680793852/parade-entry-building.jpg" 
    linkUni="https://www.nbu.bg"
    UniName="Икономически университет"
    description="В своята 100-годишна история Икономически университет – Варна е подготвил над 155 хиляди икономисти, сред които много чужди граждани на повече от 60 страни, реализирали се успешно у нас и в чужбина. Той е един от основните стълбове на икономическото образование и наука в страната, който се развива като предприемаческа и социално отговорна институция. Днес в него се обучават над 7 500 български и чуждестранни студенти. Подготвят ги над 230 редовни преподаватели, над 100 от които са хабилитирани. Те са креативни и с постоянно научно израстване – над 40% от тях имат собствен бизнес или консултират такъв с експертния и научния си потенциал. "
    paymentUni= "Държавен/Частен"
    typeOfUni = "Диплома"
   %}
</article>

   <div class="container py-4">
    <div id="pageHeaderTitle"></div>
    <article class="postcard dark yellow">
    {% include Cards.html 
        imageUni="https://mmc.bg/uploaded/projects/10_10_31_unnamed.jpg" 
        linkUni="https://www.mu-varna.bg/BG"
        UniName="Медицински университет „Професор доктор Параскев Стоянов“ Варна"
        description="Медицински университет Варна – един от най-модерните и високотехнологични университети в страната! Привлекателната мултинационална среда, високотехнологичните методи и средства на преподаване, обучението в реална и симулационна среда, чудесните условия за спорт и рекреация в морската столица на България са само част от причините, поради които  в Медицински университет – Варна са избрали да учат студенти от близо 50 държави от целия свят! Варненският медицински университет е с над половинвековна история и традиции, но умело съчетава класическите модели на преподаване с най-модерните технологии и методи."
        paymentUni= "Държавен"
        typeOfUni = "Диплома"
       %}
    </article>

    <div class="container py-4">
        <article class="postcard dark green">
        {% include Cards.html 
            imageUni="https://hilife.bg/uploads/news/05_hilife_haylayf___praznik_na_vissheto_voennomorsko_uchilishte_nikola_y_vaptsarov_varna.jpg" 
            linkUni="http://www.naval-acad.bg"
            UniName="Висше военноморско училище „Никола Вапцаров“"
            description="Подготовка на висококвалифицирани специалисти за българските ВМС и морската индустрия и научно осигуряване на трансформацията на ВМС и развитието на морския сектор на Република България.Следдипломна квалификация на морски кадри; Провеждане на научни изследвания в интерес на трансформиращите се ВМС на Република България и морската индустрия."
            paymentUni= "Държавен"
            typeOfUni = "Военна служба"
           %}
        </article>